.columns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(min-content, max-content);
    */

    &__column {
        display: flex;
        flex: 1;
        flex-direction: column;

        &--middle {
            margin: 0 20px;
        }
    }
}
