<!-- include activity filter bar -->
<%include src="filter-bar/filter.html"%>
<!-- full width layout -->
<div class="flex">
    <div class="content">
            <%include src="activity-card-birthday/activity-card-birthday.html"%>
            <%include src="activity-card-upload/activity-card-upload.html"%> 
            <%include src="activity-card-facebook/activity-card-facebook3.html"%>
            <%include src="activity-card-facebook/activity-card-facebook4.html"%>  
            <%include src="activity-card-facebook/activity-card-facebook.html"%> 
            <%include src="activity-card-facebook/activity-card-facebook2.html"%>
            <%include src="activity-card-post/activity-card-post2.html"%> 
            <%include src="activity-card-post/activity-card-post3.html"%> 
            <%include src="activity-card-post/activity-card-post4.html"%> 
            <%include src="activity-card-post/activity-card-post5.html"%> 
            <%include src="activity-card-post/activity-card-post6.html"%> 
            <%include src="activity-card-post/activity-card-post7.html"%> 
            <%include src="activity-card-post/activity-card-post8.html"%> 
            <%include src="activity-card-post/activity-card-post.html"%>
        </div>
</div>
