<!-- include activity filter bar -->
<%include src="filter-bar/filter.html"%>
<!-- full width layout -->
<div class="flex">
    <div class="columns-container">

                <%include src="activity-card-upload/activity-card-upload.html"%>
                <%include src="activity-card-facebook/activity-card-facebook.html"%>
                <%include src="activity-card-facebook/activity-card-facebook3.html"%>
                <%include src="activity-card-post/activity-card-post.html"%>

                <%include src="activity-card-facebook/activity-card-facebook.html"%>
                <%include src="activity-card-upload/activity-card-upload.html"%>
                <%include src="activity-card-facebook/activity-card-facebook3.html"%>

                <%include src="activity-card-facebook/activity-card-facebook3.html"%>
                <%include src="activity-card-facebook/activity-card-facebook.html"%>
                <%include src="activity-card-upload/activity-card-upload.html"%>
    </div>
</div>
