<!-- include activity filter bar -->
<%include src="filter-bar/filter.html"%>
<!-- full width layout -->
<div class="flex">
    <div class="columns-container">
        <div class="columns-container__column">
            <%include src="activity-card-upload/activity-card-upload.html"%>
            <%include src="activity-card-facebook/activity-card-facebook3.html"%>
            <%include src="activity-card-facebook/activity-card-facebook.html"%>
        </div>
        <div class="columns-container__column columns-container__column--middle">
                <%include src="activity-card-upload/activity-card-upload.html"%>
                <%include src="activity-card-facebook/activity-card-facebook3.html"%>
                <%include src="activity-card-facebook/activity-card-facebook.html"%>
        </div>
        <div class="columns-container__column">
                <%include src="activity-card-upload/activity-card-upload.html"%>
                <%include src="activity-card-facebook/activity-card-facebook3.html"%>
                <%include src="activity-card-facebook/activity-card-facebook.html"%>
        </div>
    </div>
</div>
