<div class="birthday-post">
    <div class="birthday-post__person">
        <div class="birthday-post__person-img">
            <img src="/images/card-post_icons/elijah-chang-l.jpg" alt="elijah-chang">
        </div>
        <div class="birthday-post__person-item">
            <h1 class="birthday-post__person-item-name">Elijah Chang</h1>
            <p class="birthday-post__person-item-date">Today</p>
        </div>
    </div>
    <div class="post-logo">
        <img src="../images/card-post_icons/cake-icon.svg" alt="birthday icon">
    </div>
</div>
