.post-content {
    &__article {
        padding: 0 20px;
    }

    &__heading {
        color: $wood-smoke;
        font-size: 1.063rem;
        font-weight: $weight-bold;
        line-height: 1.2;
        margin-top: 0;
    }

    &__text {
        color: $rolling-stone;
        font-size: .9375rem;
        line-height: 1.2;
        margin-bottom: 17px;
        margin-top: 0;
    }

    &__img {
        height: 180px;

        img {
            max-width: none;
        }
    }

    &__buttons {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}
