/* background */
.main-container {
    width: 1680px;
    height: 2369px;
    background-color: grey;
}

/* header */
header {
    background-color: #13191b;
    height: 58px;
    color: white;
}

/* filter-bar */
.filter-bar {
    height: 48px;
    background-color: lightcoral;
}

/* content container */
.content {
    width: 1228px;
    height: 2141px;
    background-color: red;
    margin: auto;   
    margin-top: 21px; 
}






