<div class="post-wrapper">
    <div class="post-header">
        <div class="post-header__person">
            <div class="post-header__person-img">
                <img src="/images/card-facebook_icons/facebook.jpg" alt="facebook">
            </div>
            <div class="post-header__person-item">
                <h1 class="post-header__person-item-name">Devbridge Group</h1>
                <p class="post-header__person-item-date">April 14d</p>
            </div>
        </div>
    </div>
    <div class="post-content">
        <div class="post-content__article">
            <p class="post-content__text">The DB team had a great time at the VU Vilnius University career fair yesterday. Thanks to everyone who stopped by!</p>
        </div>
        <div class="post-content__img">
            <img src="/images/card-facebook_icons/team-members.jpg" alt="Devbridge team">
        </div>
        <div class="post-content__buttons">
            <button class="social-button social-button--blue-font js-clickme">
                <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span
                    class="social-button__number js-likes-number">0</span>
                <p class="social-button__text">Likes</p>
            </button>
            <button class="social-button">
                <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                    class="social-button__number">0</span>
                <p class="social-button__text">Comments</p>
            </button>
        </div>
    </div>
</div>
