.nav-list {
    box-shadow: 1px 0 0 $iron-light;
    font-size: .9rem;
    font-weight: 400;
    line-height: 2.8rem;
    list-style-type: none;
    margin-top: 10px;
    padding: 0;

    &__item-seperator {
        background-color: $iron-light;
        height: 1px;
        width: 220px;
    }    

    &__item-link {
        color: $woodsmoke;
        display: block;
        text-decoration: none;
    }

    &__item-link img {
        padding-left: 125px;
    }

}
