<nav class="nav-container">
    <ul class="nav-list">
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Projects</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Articles</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">
                <span>Dashboard</span> 
                <span><img src="../images/company_icons/Arrow.png" alt="Arrow"></span>
            </a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Reports</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Tasks</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Events</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Company Ads</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Client Account</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item">
            <a href="#" class="nav-list__item-link">Feedback/tickets</a>
            <p class="nav-list__item-seperator"></p>
        </li>
    </ul>
</nav>