<!-- Side bar menu desktop -->
<nav class="nav-container"><ul class="nav-list"></ul></nav>

<!-- Side-bar menu mobile -->
<div class="nav-container-mobile sidebar-active" id="sidebar">
    <div class="toggle-btn" onclick="toggleSidebar(this)">
        <span></span><span></span><span></span>
    </div>
    <ul class="list">
        <li class="list__item"><a href="#" target="_blank">Projects</a></li>
        <li class="list__item"><a href="#" target="_blank">Articles</a></li>
        <li class="list__item"><a href="#" target="_blank">Dashboard</a></li>
        <li class="list__item"><a href="#" target="_blank">Reports</a></li>
        <li class="list__item"><a href="#" target="_blank">Tasks</a></li>
        <li class="list__item"><a href="#" target="_blank">Events</a></li>
        <li class="list__item"><a href="#" target="_blank">Company Ads</a></li>
        <li class="list__item"><a href="#" target="_blank">Client Account</a></li>
        <li class="list__item"><a href="#" target="_blank">Feedback/tickets</a></li>
    </ul>
</div>
