<nav class="nav-container">
    <ul class="nav-list">
        <li class="nav-list_item" id="js-projects">
            <a href="#" class="nav-list__item-link">Projects</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-articles">
            <a href="#" class="nav-list__item-link">Articles</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-dashboard">
            <a href="#" class="nav-list__item-link">
                <span>Dashboard</span>
                <span
                    ><img src="../images/company_icons/Arrow.png" alt="Arrow"
                /></span>
            </a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-reports">
            <a href="#" class="nav-list__item-link">Reports</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-tasks">
            <a href="#" class="nav-list__item-link">Tasks</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-events">
            <a href="#" class="nav-list__item-link">Events</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-company-ads">
            <a href="#" class="nav-list__item-link">Company Ads</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-client-account">
            <a href="#" class="nav-list__item-link">Client Account</a>
            <p class="nav-list__item-seperator"></p>
        </li>
        <li class="nav-list_item" id="js-feedback">
            <a href="#" class="nav-list__item-link">Feedback/tickets</a>
            <p class="nav-list__item-seperator"></p>
        </li>
    </ul>
</nav>
