<%include src="../company/company-ads-button.html"%>

<div class="ads">
    <div class="ads__headline">
        <div class="ads__headline-title">Title</div>
        <div class="ads__headline-date">Date</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Senior Java Developer</div>
        <div class="ads__row-date">05-24 11:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Senior Designer (UI)</div>
        <div class="ads__row-date">05-20 12:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">.Net Developer</div>
        <div class="ads__row-date">05-18 10:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Senior iOS Developer</div>
        <div class="ads__row-date">05-18 14:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">QA Analyst</div>
        <div class="ads__row-date">05-16 10:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Strategic Account Executive</div>
        <div class="ads__row-date">05-15 10:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Product Owner</div>
        <div class="ads__row-date">05-15 19:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Designer (UI)</div>
        <div class="ads__row-date">05-09 08:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Director of Engineering Office in Vilnius</div>
        <div class="ads__row-date">05-09 12:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Senior .Net Developer</div>
        <div class="ads__row-date">05-08 13:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">.Net Developer</div>
        <div class="ads__row-date">05-04 10:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Senior Java Developer</div>
        <div class="ads__row-date">05-02 09:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">QA Analyst</div>
        <div class="ads__row-date">05-02 11:30 AM</div>
    </div>
    <div class="ads__row">
        <div class="ads__row-title">Strategic Account Executive</div>
        <div class="ads__row-date">04-17 14:30 AM</div>
    </div>
</div>