<div class="events">
    <div class="events__headline">
        <div class="events__headline-title">Title</div>
        <div class="events__headline-recurring">Is recurring</div>
        <div class="events__headline-date">Start-end Date</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">April birthdays!</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Vilnius pizza party</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Vilnius Geek Night 2</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">March Birthdays!</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Hercules Trophy Baltics</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Kaunas Half Marathon</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Vilnius Challenge</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Kaunas Marathon</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Kaunas Marathon</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">ATDD for AngularJS projects</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Chicago Spring Half Marathon</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Devbridge @ Automate 2015</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">Devbridge @ SXSW</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
    <div class="events__row">
        <div class="events__row-title">February Raging Bagel</div>
        <div class="events__row-recurring">No</div>
        <div class="events__row-date">05-05 11:00 AM - 05-06 11:30 AM</div>
    </div>
</div>
