<div class="post-wrapper">
    <div class="post-header">
        <div class="post-person">
            <div class="post-person-img">
                <img src="http://localhost:8000/images/elijah-chang.png" alt="elijah-chang">
            </div>
            <div class="post-person-name">
                <h1>Elijah Chang</h1>
                <p>April 15d</p>
            </div>
        </div>
        <div class="post-logo">
            <span>blog</span>
        </div>
    </div>
    <div class="post-content">
        <div class="post-article">
            <h1>Successful Agile Releases: Manage Risk, Not Plans</h1>
            <p>Since the beginning of software development, project managers have been trying to tame...</p>
        </div>
        <div class="post-img">
            <img src="http://localhost:8000/images/dragon.png" alt="dragons" width="380px" height="180px">
        </div>
        <div class="post-likes">
            <button>
                <i class="fas fa-heart"></i><span>59</span><p>Likes</p>
            </button>
            <button>
                <i class="far fa-comment"></i><span style="color: black" >15</span><p>Comments</p>
            </button>

        </div>
    </div>
    <div class="post-comments">
        <div class="post-comments-input">
            <img src="http://localhost:8000/images/Layer.png" alt="Some-person">
            <input type="" placeholder="Write a comment...">
        </div>
        <div class="post-first-comment">
            <div>
                <img src="http://localhost:8000/images/kristin-duhaime.png" alt="kristin duhaime">
            </div>
            <div class="comment-article">
                <h2>Kristin Duhaime</h2>
                <p>Quisque quis suscipit nulla. Curabitur non elit ornare, 
                    consequat elit nec, pretium orci. Nunc quis sem nec dolor dignissim 
                    varius a ac est. Vestibulum facilisis, felis.</p>
                <div class="post-comments-likes">
                    <i class="far fa-heart"></i><span>15</span><p>Likes</p>
                    <span class="comments-time">5 min ago</span>
                </div>
                
            </div>
        </div>
        <div class="post-first-comment" style="height: 125px">
                <div>
                        <img src="http://localhost:8000/images/elijah-chang.png" alt="elijah-chang" width="36px" height="36px">
                    </div>
                    <div class="comment-article">
                        <h2>Elijah Chang</h2>
                        <p>Ut aliquam eleifend tincidunt. Pellentesque condimentum lacus ullamcorper.</p>
                        <div class="post-comments-likes">
                            <i class="far fa-heart"></i><span>7</span><p>Likes</p>
                            <span class="comments-time">Today</span>
                        </div>
                        
                    </div>
        </div>
        <div class="post-first-comment"style="height: 143px">
                <div>
                        <img src="http://localhost:8000/images/brad-wechter.png" alt="brad-wechter">
                    </div>
                    <div class="comment-article">
                        <h2>Brad Wecher</h2>
                        <p>Cras consequat vitae felis vel pellentesque. Duis maximus feugiat est, ut cursus felis condimentum vitae. Aliquam non lorem leo.</p>
                        <div class="post-comments-likes">
                            <i class="far fa-heart"></i><span>0</span><p>Likes</p><p>Delete</p>
                            <span class="comments-time">April 10d</span>
                        </div>
                        
                    </div>
        </div>
    </div>
</div>
