<div class="activity-card-item js-blog">
    <div class="post-wrapper">
        <div class="post-header">
            <div class="post-header__person">
                <div class="post-header__person-img">
                    <img src="/images/card-post_icons/elijah-chang-l.jpg" alt="elijah chang">
                </div>
                <div class="post-header__person-item">
                    <h1 class="post-header__person-item-name">Elijah Chang</h1>
                    <p class="post-header__person-item-date">April 10d</p>
                </div>
            </div>
            <div class="post-logo">
                <span class="post-logo__text">blog</span>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content__article">
                <h1 class="post-content__heading">Be Confident and Know Your Value</h1>
                <p class="post-content__text">At Devbridge Group, we value collaboration and giving back through thought leadership.</p>
            </div>
            <div class="post-content__img">
                <img src="/images/card-post_icons/man-speaking.jpg" alt="speaking">
            </div>
            <div class="post-content__buttons">
                <button class="social-button social-button--blue-font js-clickme">
                    <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span
                        class="social-button__number js-likes-number">37</span>
                    <p class="social-button__text">Likes</p>
                </button>
                <button class="social-button">
                    <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                        class="social-button__number">27</span>
                    <p class="social-button__text">Comments</p>
                </button>
            </div>
        </div>
    </div>
</div>
