<div class="post-wrapper">
        <div class="post-header">
            <div class="post-header__person">
                <div class="post-header__person-img">
                    <img src="/images/card-post_icons/kristin-duhaime.jpg" alt="kristin duhaime">
                </div>
                <div class="post-header__person-item">
                    <h1 class="post-header__person-item-name">Kristin Duhaime</h1>
                    <p class="post-header__person-item-date">April 7D</p>
                </div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content__article">
                <h1 class="post-content__heading">Geeks in Portland</h1>
                <p class="post-content__text">Portland, Oregon was unfamiliar ground to us all. We'd heard the buzz, seen Portlandia....</p>
            </div>
            <div class="post-content__img">
                <img src="/images/card-post_icons/GeeksinPortland.jpg" alt="geeks">
            </div>
            <div class="post-content__buttons">
                <button class="social-button social-button--blue-font js-clickme">
                    <img class="social-button__icon" src="/images/card-post_icons/empty-heart-icon.png" alt="heart-icon"><span
                        class="social-button__number js-likes-number js-empty-heart" >0</span>
                    <p class="social-button__text">Likes</p>
                </button>
                <button class="social-button">
                    <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                        class="social-button__number">0</span>
                    <p class="social-button__text">Comments</p>
                </button>
            </div>
        </div>
    </div>