<div class="post-wrapper">
        <div class="post-header">
            <div class="post-header__person">
                <div class="post-header__person-img">
                    <img src="/images/card-post_icons/brad-wechter.jpg" alt="brad wechter">
                </div>
                <div class="post-header__person-item">
                    <h1 class="post-header__person-item-name">Brad Wechter</h1>
                    <p class="post-header__person-item-date">April 6d</p>
                </div>
            </div>
            <div class="post-logo">
                <span class="post-logo__text">blog</span>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content__article">
                <h1 class="post-content__heading">A Recap of Our Week Exploring, Learning & Having Fun in Lithuania</h1>
                <p class="post-content__text">Over the course of a week, we’ve all become richer for our experiences. Some of us took a few...</p>
            </div>
            <div class="post-content__img">
                <img src="/images/card-post_icons/pool-party.png" alt="pool party">
            </div>
            <div class="post-content__buttons">
                <button class="social-button social-button--blue-font js-clickme">
                    <img class="social-button__icon" src="/images/card-post_icons/empty-heart-icon.png" alt="heart-icon"><span
                        class="social-button__number js-likes-number js-empty-heart" >24</span>
                    <p class="social-button__text">Likes</p>
                </button>
                <button class="social-button">
                    <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                        class="social-button__number">11</span>
                    <p class="social-button__text">Comments</p>
                </button>
            </div>
        </div>
    </div>
    