<div class="activity-card-item js-blog">
    <div class="post-wrapper">
        <div class="post-header">
            <div class="post-header__person">
                <div class="post-header__person-img">
                    <img src="/images/card-post_icons/aurimas-adomavicius.jpg" alt="aurimas adomavicius">
                </div>
                <div class="post-header__person-item">
                    <h1 class="post-header__person-item-name">Aurimas Adomavicius</h1>
                    <p class="post-header__person-item-date">April 6d</p>
                </div>
            </div>
            <div class="post-logo">
                <span class="post-logo__text">blog</span>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content__article">
                <h1 class="post-content__heading">Devbridge Group At Techweek: Healthcare Apps on the Cloud</h1>
                <p class="post-content__text">TechWeek Chicago is a week-long technology conference that occupies a whole floor of the...</p>
            </div>
            <div class="post-content__img">
                <img src="/images/card-post_icons/presentation-second.jpg" alt="presentation">
            </div>
            <div class="post-content__buttons">
                <button class="social-button social-button--blue-font js-clickme">
                    <img class="social-button__icon" src="/images/card-post_icons/empty-heart-icon.png" alt="heart-icon"><span
                        class="social-button__number js-likes-number js-empty-heart" >14</span>
                    <p class="social-button__text">Likes</p>
                </button>
                <button class="social-button">
                    <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                        class="social-button__number">16</span>
                    <p class="social-button__text">Comments</p>
                </button>
            </div>
        </div>
    </div>
</div>
