<div class="activity-card-item js-blog">
    <div class="post-wrapper">
        <div class="post-header">
            <div class="post-header__person">
                <div class="post-header__person-img">
                    <img src="/images/card-post_icons/mark-ludemann.png" alt="mark ludeman">
                </div>
                <div class="post-header__person-item">
                    <h1 class="post-header__person-item-name">Mark Ludemann</h1>
                    <p class="post-header__person-item-date">April 4d</p>
                </div>
            </div>
            <div class="post-logo">
                <span class="post-logo__text">blog</span>
            </div>
        </div>
        <div class="post-content">
            <div class="post-content__article">
                <h1 class="post-content__heading">Material Design and What Can Be Learned From It.</h1>
                <p class="post-content__text">Back in July of this year, Google unveiled their new version of Android,
                    called Lollipop, and a whole...</p>
            </div>
            <div class="post-content__img">
                <img src="/images/card-post_icons/presentation.jpg" alt="presentation">
            </div>
            <div class="post-content__buttons">
                <button class="social-button social-button--blue-font js-clickme">
                    <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span
                        class="social-button__number js-likes-number">31</span>
                    <p class="social-button__text">Likes</p>
                </button>
                <button class="social-button">
                    <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                        class="social-button__number">30</span>
                    <p class="social-button__text">Comments</p>
                </button>
            </div>
        </div>
    </div>
</div>
