// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$black: #000;
$white: #fff;
$alto: #e0e0e0;
$navy: #242c33;
$porcelain: #f3f4f5; //background
//COMMON COLORS
$iron-light: #e6e6e8;
$iron-dark: #dbdbdd;
$oxford-blue: #354f57;
$wood-smoke: #13191b;
$curious-blue: #30a1d6;
$scooter: #30aed6;
$st-tropaz: #256299;
$rolling-stone: #7c8588;
$mischka: #d9dce2;
$persian-red: #cd2b27;
$athens-gray: #f9f9fa;
$gray-chateau: #a9aeb0;
$thunder-black: #231F20;
//LINK COLORS
//SELECTION COLORS
$outer-space: #2f3942;
