// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$black: #000;
$white: #fff;
$navy: #242c33;
$woodsmoke: #13191b;
$rolling-stone: #7b8487;
$curious-blue: #30a1d6;
$iron: #e6e6e8;

//COMMON COLORS

//LINK COLORS

//SELECTION COLORS
$header-separator: #2f3942;
