// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$black: #000;
$white: #fff;
$alto: #e0e0e0;
$navy: #242c33;
$Porcelain: #f3f4f5; //background

//COMMON COLORS
$iron2: #dbdbdd;
$OxfordBlue: #354f57;
$Woodsmoke: #13191B;
$CuriousBlue:#30a1d6;
$StTropaz:#256299;
$CuriousBlue:#30a1d6;
$PersianRed: #ce2b27;

//LINK COLORS

//SELECTION COLORS
$header-separator: #2f3942;