.background {
    $main-background: $porcelain;
    $action-bar-background: $white;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;

    &--main {
        background-color: $main-background;
    }

    &--action-bar {
        background-color: $action-bar-background;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        width: 1180px;

        @media screen and (max-width: 1228px) {
            padding: 0 1.5rem;
        }
    }
}
