.background {
    $main-background: $porcelain;
    $action-bar-background: $white;
    display: flex;
    flex: 1;
    justify-content: center;
    width: 100%;

    &--main {
        background-color: $main-background;
    }

    &--action-bar {
        background-color: $action-bar-background;
        padding-top: 58px;
    }

    &__container {
        display: flex;
        justify-content: flex-start;
        width: 1180px;

        @media screen and (max-width: 1228px) {
            padding: 0 20px;
        }
    }
}

.padding-container {
    max-width: 1200px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
