
$base-line-height: 1.5;
$base-font-size: 16px;

//widths, heights, sizes, timings, settings

// height
$header-height: 58px;

// width
$width-100: 100%;
$max-width: 1180px;

// margin
$margin-0-auto: 0 auto;

// position
$position-absolute: absolute;
$position-relative: relative;

// opacity
$opacity-1: 1;

//typography
$font-primary: 'proxima-nova', sans-serif; // 400 700 italic
$font-secondary: 'proxima-nova-condensed', sans-serif; // 400 700 italic
$weight-regular: 400;
$weight-bold: 700;
$font-semibold: 'proxima-nova-semibold', sans-serif;
