<div class="bridge">
    <div class="bridge__name bridge__name--leadership">
        Leadership Team
    </div>
    <!-- line below team name -->
    <%include src="../bridge-line/bridge-line--leadership.html"%>
    <!-- team row -->
    <div class="bridge-team">
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/albertas-krisciunas.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Albertas Kirsciunas</h2>
                <p>Project Lead</p>
            </div>
        </div>
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/asta-pukaite-kajoke.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Asta Pukaite-Kajoke</h2>
                <p>Project Lead</p>
            </div>
        </div>
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/algirdas-grumuldis.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Algirdas Grumuldis</h2>
                <p>Developer</p>
            </div>
        </div>
    </div>
    <!-- team row -->
    <div class="bridge-team">
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/andrius-zidonis.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Andrius Zidonis</h2>
                <p>Front-end developer</p>
            </div>
        </div>
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/aukse-juknyte.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Aukse Juknyte</h2>
                <p>Qa Analyst</p>
            </div>
        </div>
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/aiste-trakymaite.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Aiste Trakymaite</h2>
                <p>operations specialists</p>
            </div>
        </div>
    </div>
</div>