<div class="bridge">
    <div class="bridge__name bridge__name--marketing">
        MARKETING SPECIALISTS
    </div>
    <!-- line below team name -->
    <%include src="../bridge-line/bridge-line--marketing.html"%>
    <!-- team row -->
    <div class="bridge-team">
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/aurimas-adomavicius.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Aurimas Adomavicius</h2>
                <p>leadership team</p>
            </div>
        </div>
        <div class="bridge-team__member">
            <div class="bridge-team__photo">
                <img src="../images/bridge/agne-takanaite.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Agne Takanaite</h2>
                <p>leadership team</p>
            </div>
        </div>
        <!-- hidden from layout -->
        <div class="bridge-team__member bridge-team__member--invisible">
            <!-- <div class="bridge-team__photo">
                <img src="../images/bridge/agne-takanaite.png" alt="test">
            </div>
            <div class="bridge-team__info">
                <h2>Agne Takanaite</h2>
                <p>leadership team</p>
            </div> -->
        </div>
    </div>
</div>