<!-- full width layout with flex-box -->
<div class="flex flex-wrap">
        <!-- <%include src="bridge-action-bar/bridge-action-bar.html"%> -->
        <!-- leadership team -->
        <%include src="bridge-team/bridge-team--leadership.html"%>
        <!-- projects team -->
        <%include src="bridge-team/bridge-team--project.html"%>
        <!-- ui team -->
        <%include src="bridge-team/bridge-team--ui.html"%>
        <!-- web and mobile team -->
        <%include src="bridge-team/bridge-team--web.html"%>
        <!-- marketing team -->
        <%include src="bridge-team/bridge-team--marketing.html"%>
</div>
