.ads {
    margin-top: 43px;

    &__headline {
        background-color: $athens-gray;
        border: 1px solid $iron-light;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 1px 1px .05 $black;
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        padding-left: 21px;

        &-title,
        &-date {
            align-self: center;
            color: $rolling-stone;
            font-size: .75rem;
            text-transform: uppercase;
        }

        &-date {
            min-width: 135px;
        }
    }

    &__row {
        $row-background-color: $white;

        background-color: $row-background-color;
        border: 1px solid $iron-light;
        border-radius: 2px 2px 0 0;
        display: flex;
        justify-content: space-between;
        min-height: 63px;
        padding-left: 20px;

        &-title,
        &-date {
            align-self: center;
            color: $wood-smoke;
            font-size: .875rem;
        }

        &-date {
            color: $rolling-stone;
            font-size: .8125rem;
            min-width: 135px;
            text-transform: uppercase;
        }
    }
}

// Responsive layout
@media (max-width: 775px) {
    .ads {
        margin-top: 25px;
    }    
}
// Responsive layout
@media (max-width: 470px) {
    .ads__row-title {
        max-width: 160px;
    }    
}
// Responsive layout
@media (max-width: 420px) {
    .ads__headline-title, 
    .ads__row-title {
        max-width: 90px;
    }

    .ads__headline-date, 
    .ads__row-date {
        min-width: 100px;
    }
}
