.create-btn {
    $close-button-color: $rolling-stone;
    $close-button-color-hover: $curious-blue;
    $company-ads-button-color: $curious-blue;
    $company-ads-button-color-hover: $rolling-stone;

    &__button {
        background-color: $company-ads-button-color;
        border: 0;
        border-radius: 2px;
        text-align: center;
        width: 112px;

        &:hover {
            background-color: $company-ads-button-color-hover;
        }

        &-text {
            color: $white;
            font-size: 0.8125rem;
            letter-spacing: 0.5px;
            line-height: 28px;
            margin: 4px;
            text-decoration: none;

            &--email {
                margin: 0;
            }
        }
    }
}

.modal {
    background: black(0.5); // from _functions.scss
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 400ms ease-in;

    &:target {
        opacity: 1;
        pointer-events: auto;
    }

    &__content {
        background: $white;
        border-radius: 10px;
        margin: 100px auto;
        padding: 5px 20px 13px;
        position: relative;
        width: 400px;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }

    &__row {
        padding-bottom: 20px;
        width: 400px;

        &-title {
            font-weight: $weight-bold;
        }

        &-input,
        &-select,
        //for Edge
        &-textarea {
            width: 400px;
        }
    }

    &--email {
        z-index: $z-modal;

        .modal__content {
            padding-top: 15px;
        }
    }
}

.close {
    $close-button-color: $rolling-stone;
    $close-button-color-hover: $curious-blue;

    background: $close-button-color;
    border-radius: 12px;
    box-shadow: 1px 1px 3px .05 $black;
    color: $white;
    font-weight: $weight-bold;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    text-decoration: none;
    top: -10px;
    width: 24px;

    &:hover {
        background: $close-button-color-hover;
    }
}

// Responsive layout
@media (min-width: 775px) {
    .create-btn {
        float: right;
    }
}
@media (max-width: 775px) {
    .create-btn {
        float: none;
        // padding-top: 25px;

        &__button {
            margin: auto;
        }
    }
}
@media (max-width: 500px) {
    .modal__content {
        margin-top: 80px;
        width: 350px;
    }

    .modal__row {
        display: grid;
        width: 350px;

        &-select,
        &-input,
        &-textarea {
            font-size: 0.8125rem;
            width: 350px;
        }

        &-select option {
            max-width: 50px;
        }
    }
}
