.post-comments {
    &__input {
        height: 68px;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid $iron-light;
        background-color: $white;
        display: flex;
    }

    &__input-img {
        padding: 16px 3px 16px 16px;
    }

    &__items {
        display: flex;
        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
        border: 1px solid $iron-light;
        background-color: $athens-gray;
    }

    &__items-img {
        padding: 13px;
        height: 36px;
        max-width: none;
    }

    &__comment-article {
        padding-top: 5px;
        padding-right: 16px;
    }

    &__name {
        color: $wood-smoke;
        font-size: .875rem;
        font-family: $scooter;
        font-weight: 700;
        margin-bottom: 2px;
        
    }

    &__text {
        color: $rolling-stone;
        font-size: .8125rem;
        margin-top: 0;
        border-bottom: 1px solid $iron-light;
        padding-bottom: 0px;
        padding-right: 20px;
        margin-bottom: 0px;
    }

    &__delete-button {
        border: none;
        background-color: transparent;
        color: $rolling-stone;
        font-size: .8125rem;
        text-transform: uppercase;
        border-left: 1px solid $iron-light;
        padding-left: 5px;
    }

    &__time {
        float: right;
        color: $gray-chateau;
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: none;
        margin-top: 10px;
        margin-bottom: 2px;
    }
}
