$separator-color: $outer-space;

// div purpose to add color for header
.header-color-wrapper {
    background-color: $black;
    height: $header-height;    
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-header;
}

// page header container for logo, nav and profile purposes
.page-header {
    display: flex;
    justify-content: space-between;
    width: 1180px;
    overflow: hidden;
    align-items: center;
}

//HEADER LOGO CLASSES
.logo {
    align-self: center;
    display: flex;
    margin: 15px 0;
    flex-shrink: 0;
}

.logo-big{
    display: block;
}
.logo-small{
    display: none;
}

//HEADER ACTIONS CLASSES
.header-actions-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header-actions-item {
    background-color: $black;
    border: 0;
    cursor: pointer;
    padding: 0 15px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.profile-dropdown {
    display: none;
    list-style-type: none;
    margin-top: 9px;
    position: absolute;
    right: 0;
}

.profile-dropdown-item {
    align-items: center;
    background-color: $navy;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: flex-start;
    text-decoration: none;
    width: 192px;
}

.profile-dropdown-item-text {
    color: $white;
}

.profile-dropdown-item-icon {
    padding: 0 15px;
}

.profile-dropdown-separator {
    border-bottom: solid 1px $outer-space;
}

//SHOW DROP DOWN
.profile-dropdown-icon {
    position: relative;
}

.profile-dropdown-icon:hover ul {
    display: block;
}

.profile-dropdown-icon:hover {
    background-color: $navy;
}
