<div class="header-actions">
    <button class="header-actions__item" href="#">
        <img src="../images/header_icons/Search.svg" alt="Search icon">
    </button>
    <button type="button" class="header-actions__item" onclick="window.location.href = './notifications.html';">
        <img src="../images/header_icons/Bell.svg" alt="Notifications icon">
    </button>
    <button type="button" class="header-actions__item profile-dropdown-icon">
        <img src="../images/header_icons/Layer_6.png" alt="Profile picture">
        <%include src="header-actions-profile-dropDown.html"%>
    </button>
</div>