<nav class="navigation-wrapper">
    <ul class="navigation-list">
        <li class="navigation-list-item"  >
            <a class="header-navigation-text header-navigation-active" href="../html/index.html">ACTIVITY</a>
        </li>
        <li class="navigation-list-item">
            <a class="header-navigation-text" href="../html/bridge.html">BRIDGE</a>
        </li>
        <li class="navigation-list-item">
            <a class="header-navigation-text" href="../html/wiki.html">WIKI</a>
        </li>
        <li class="navigation-list-item">
            <a class="header-navigation-text" href="../html/company.html">COMPANY</a>
        </li>
    </ul>
</nav>