        <ul class="profile-dropdown">
            <li>
                <a href="../html/profile.html" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Profile.svg" alt="Profile icon">
                    <p class="profile-dropdown-item-text">My Profile</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Projects.svg" alt="Projects icon">
                    <p class="profile-dropdown-item-text">Projects</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Squad.svg" alt="Squad icon">
                    <p class="profile-dropdown-item-text">Squad</p>
                </a>
            </li>
            <li>
                <a href="../html/company.html" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Ads.svg" alt="Ads icon">
                    <p class="profile-dropdown-item-text">Ads</p>
                </a>
            </li>
            <li class="profile-dropdown-separator">
                <a href="#" class="profile-dropdown-item ">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Social_connector.svg" alt="Social connector icon">
                    <p class="profile-dropdown-item-text">Social Connector</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Settings.svg" alt="Settings icon">
                    <p class="profile-dropdown-item-text">Settings</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown-item">
                    <img class="profile-dropdown-item-icon" src="../images/header_icons/Log_out.svg" alt="Log out icon">
                    <p class="profile-dropdown-item-text">Log out</p>
                </a>
            </li>
        </ul>
