        <ul class="profile-dropdown">
            <li>
                <a href="#" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Profile.svg" alt="Profile icon">
                    <p class="profile-dropdown__text">My Profile</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Projects.svg" alt="Projects icon">
                    <p class="profile-dropdown__text">Projects</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Squad.svg" alt="Squad icon">
                    <p class="profile-dropdown__text">Squad</p>
                </a>
            </li>
            <li>
                <a href="../html/company.html" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Ads.svg" alt="Ads icon">
                    <p class="profile-dropdown__text">Ads</p>      
                </a>
            </li>
            <li class="profile-dropdown__separator">
                <a href="#" class="profile-dropdown__item ">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Social_connector.svg" alt="Social connector icon">
                    <p class="profile-dropdown__text">Social Connector</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Settings.svg" alt="Settings icon">
                    <p class="profile-dropdown__text">Settings</p>
                </a>
            </li>
            <li>
                <a href="#" class="profile-dropdown__item">
                    <img class="profile-dropdown__icon" src="../images/header_icons/Log_out.svg" alt="Log out icon">
                    <p class="profile-dropdown__text">Log out</p>
                </a>
            </li>
        </ul>