.dates {
    $separator: $iron-light;
    $date-text: $wood-smoke;
    width: 100%;
    margin-top: 2.25rem;

    &__date {
        display: flex;
        flex-direction: column;
        margin-bottom: 3.438rem;
    }

    &__date-title {
        color: $date-text;
        font-size: 1.125rem;
        font-weight: $weight-regular;
        font-family: $font-primary;
        line-height: 1.15;
        padding-bottom: 0.6875rem;
        border-bottom: $iron-light solid 1px;
        margin:0;
    }

    &__date-notifications {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
