<div class="background background--main">
    <div class="background__container">
        <div class="dates">
            <div class="dates__date">
                <p class="dates__date-title">Today</p>
                <ul class="dates__date-notifications">
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/bell-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/birthday-icon.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text">Happy Birthday <a href="#" class="notification-text notification-text--clickable">Simas Aleksandravičius</a></p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">15:00</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/elijah.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Elijah Chang</a> liked <a href="#" class="notification-text notification-text--clickable">Breaking The Pattern In The Web Design</a> twitter post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">09:34</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/comment-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/arturas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Artūras Aleksandrovas</a> commented on <a href="#" class="notification-text notification-text--clickable">Illustrating the Power of the Lithuanian Tech Powerhouse</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">11:34</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/mantas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Mantas Kunsmanas</a> liked <a href="#" class="notification-text notification-text--clickable">Advantages of Globally Distributed Teams</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">14:20</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dates__date">
                <p class="dates__date-title">March 14</p>
                <div class="separator"></div>
                <ul class="dates__date-notifications">
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/vaclovas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Vaclovas Vičius</a> liked <a href="#" class="notification-text notification-text--clickable">The Devbridge Wavelength: February and March Update</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">20:11</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/bell-icon.svg" alt="icon" class="notification-icon">
                            <p class="notification-text">You were assigned to a new project <a href="#" class="notification-text notification-text--clickable">Devbridge Intranet</a></p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">15:00</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/comment-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/arturas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Artūras Aleksandrovas</a> commented on <a href="#" class="notification-text notification-text--clickable">Product Owners – Behind the Velvet Rope</a> facebook post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">09:34</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dates__date">
                <p class="dates__date-title">March 10</p>
                <div class="separator"></div>
                <ul class="dates__date-notifications">
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/bell-icon.svg" alt="icon" class="notification-icon">
                            <p class="notification-text">You were assigned to a new team <a href="#" class="notification-text notification-text--clickable">Alberta’s Team</a></p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">14:20</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/bell-icon.svg" alt="icon" class="notification-icon">
                            <p class="notification-text">Congratulations! You’ve unlocked new achievement <a href="#" class="notification-text notification-text--clickable">10k Run</a></p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">16:15</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/mantas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Mantas Kunsmanas</a> liked <a href="#" class="notification-text notification-text--clickable">Advantages of Globally Distributed Teams</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">19:20</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/vaclovas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Vaclovas Vičius</a> liked <a href="#" class="notification-text notification-text--clickable">The Devbridge Wavelength: February and March Update</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">18:15</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="dates__date">
                <p class="dates__date-title">March 4</p>
                <div class="separator"></div>
                <ul class="dates__date-notifications">
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/mantas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Mantas Kunsmanas</a> liked <a href="#" class="notification-text notification-text--clickable">Advantages of Globally Distributed Teams</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">12:32</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/bell-icon.svg" alt="icon" class="notification-icon">
                            <p class="notification-text">You were assigned to a new team <a href="#" class="notification-text notification-text--clickable">Alberta’s Team</a></p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">07:34</p>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="notification__main-info">
                            <img src="../../images/notifications_icons/heart-icon.svg" alt="icon" class="notification-icon">
                            <img src="../../images/notifications_icons/vaclovas.jpg" alt="profile" class="notification-profile-picture">
                            <p class="notification-text"><a href="#" class="notification-text notification-text--clickable">Vaclovas Vičius</a> liked <a href="#" class="notification-text notification-text--clickable">The Devbridge Wavelength: February and March Update</a> blog post</p>
                        </div>
                        <div class="notification__secondary-info">
                            <p class="notification-time">15:12</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>