<div class="background background--action-bar">
    <div class="background__container">
        <div class="filter">
            <p class="filter__title">Select activities:</p>
            <label>
                <input type="checkbox" name="likes" class="notifications-bar-checkbox" checked="checked"> 
                <span class="label-text">Likes</span>
            </label>
            <label>
                <input type="checkbox" name="comments" class="notifications-bar-checkbox" checked="checked">
                <span class="label-text">Comments</span>
            </label>
            <label>
                <input type="checkbox" name="devbridge-news" class="notifications-bar-checkbox">
                <span class="label-text">Devbridge news</span>
            </label>
            <label>
                <input type="checkbox" name="internal-messages" class="notifications-bar-checkbox">
                <span class="label-text">Internal messages</span>
            </label>
        </div>
    </div>
</div>