.twitter-card {
    align-items: center;
    border-radius: 2px;
    display: flex;
    height: 90px;
    justify-content: space-between;

    &__person {
        align-items: center;
        display: flex;
    }

    &__person-img {
        @include card-img-rounder(50px, 50px);
    }

    &__person-item {
        position: relative;
    }

    &__person-item-name {
        color: $black;
        font-size: 1rem;
        font-weight: $weight-bold;
        line-height: 1.3;
        margin: 0;
    }

    &__person-item-date {
        color: $gray-chateau;
        font-size: .75rem;
        line-height: 1.3;
        margin: 0;
        text-transform: uppercase;
    }

    .post-logo {
        align-items: center;
        background-color: $scooter;
        border-radius: 2px 0 0 2px;
        display: flex;
        height: 30px;
        justify-content: center;
        width: 61px;

        &__text {
            color: $white;
            font-size: .75rem;
            text-transform: uppercase;
        }
    }
}
