<div class="twitter-card">
    <div class="twitter-card__person">
        <div class="twitter-card__person-img">
            <img src="/images/card-post_icons/elijah-chang-l.jpg" alt="elijah-chang">
        </div>
        <div class="twitter-card__person-item">
            <h1 class="twitter-card__person-item-name">Elijah Chang</h1>
            <p class="twitter-card__person-item-date">April 15d</p>
        </div>
    </div>
    <div class="post-logo">
        <span class="post-logo__text">blog</span>
    </div>
</div>
