<div class="twitter-card">
    <div class="twitter-card__article">
        <h1 class="twitter-card__heading">Successful Agile Releases: Manage Risk, Not Plans</h1>
        <p class="twitter-card__text">Since the beginning of software development, project managers have been trying to
            tame...</p>
    </div>
    <div class="twitter-card__img">
        <img src="/images/card-post_icons/dragon.jpg" alt="dragons">
    </div>
    <div class="twitter-card__buttons">
        <button class="social-button social-button--blue-font js-clickme">
            <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span class="social-button__number js-likes-number">59</span>
            <p class="social-button__text">Likes</p>
        </button>
        <button class="social-button">
            <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                class="social-button__number">15</span>
            <p class="social-button__text">Comments</p>
        </button>
    </div>
</div>
