<div class="post-wrapper">
    <div class="twitter-header">
        <div class="twitter-header__person">
            <div class="twitter-header__person-img">
                <img src="/images/card-post_icons/twitter-icon.jpg" alt="twtiiter icon">
            </div>
            <div class="twitter-header__person-item">
                <h1 class="twitter-header__person-item-name">Devbridge Group @devbridge</h1>
                <p class="twitter-header__person-item-date">April 6D</p>
            </div>
        </div>
    </div>
    <div class="twitter-content">
        <div class="twitter-content__article">
            <p class="twitter-content__text">Don't know how to visualize big data & predict machine tool failure? We take the guesswork out of it. <span class="twitter-content__text--active">#Manufacturing</span> <span class="twitter-content__text--active">//bit.ly/1IyRhda</span> </p>
        </div>
        <div class="twitter-content__buttons">
            <button class="social-button social-button--blue-font js-clickme">
                <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span class="social-button__number js-likes-number">31</span>
                <p class="social-button__text">Likes</p>
            </button>
            <button class="social-button">
                <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                    class="social-button__number">30</span>
                <p class="social-button__text">Comments</p>
            </button>
        </div>
    </div>
</div>
