<div class="twitter-content">
    <div class="twitter-content__article">
        <p class="twitter-content__text">It's Day 1 of the <span class="twitter-content__text--active">@HIMSS</span> exhibition & our team is working the crowd! <span class="twitter-content__text--active">#HIMSS15</span> Booth 7658</p>
    </div>
    <div class="twitter-content__buttons">
        <button class="social-button social-button--blue-font js-clickme">
            <img class="social-button__icon" src="/images/card-post_icons/heart-icon.png" alt="heart-icon"><span class="social-button__number js-likes-number">31</span>
            <p class="social-button__text">Likes</p>
        </button>
        <button class="social-button">
            <img class="social-button__icon" src="/images/card-post_icons/comment-icon.png" alt="comment-icon"><span
                class="social-button__number">30</span>
            <p class="social-button__text">Comments</p>
        </button>
    </div>
</div>
