.events {

    $reccuring-text-color: $curious-blue;

    margin-top: 43px;

    &__headline {
        background-color: $athens-gray;
        border: 1px solid $iron-light;
        border-radius: 2px 2px 0 0;
        box-shadow: 0 1px 1px .05 $black;
        display: flex;
        height: 40px;
        justify-content: space-between;
        line-height: 4;
        padding-left: 21px;

        &-title,
        &-recurring,
        &-date {
            color: $rolling-stone;
            float: left;
            font-size: .75rem;
            text-transform: uppercase;
        }

        &-title {
            width: 50%;
        }

        &-recurring {
            width: 11%;
        }

        &-date {
            width: 27%;
        }
    }

    &__row {
        border: 1px solid $iron-light;
        border-radius: 2px 2px 0 0;
        display: flex;
        height: 63px;
        justify-content: space-between;
        line-height: 4.9;
        padding-left: 20px;

        &-title,
        &-recurring,
        &-date {
            color: $wood-smoke;
            float: left;
            font-size: .875rem;
        }

        &-date {
            color: $rolling-stone;
            font-size: .8125rem;
            line-height: 65px;
            text-transform: uppercase;
            width: 27%;
        }

        &-title {
            width: 50%;
        }

        &-recurring {
            color: $reccuring-text-color;
            width: 11%;
        }
    }
}

// Responsive layout
@media (max-width: 1100px) {
    .events__headline-title, 
    .events__row-title {
        width: 30%;
    }

    .events__headline-recurring, 
    .events__row-recurring {
        width: 15%;
    }

    .events__headline-date,
    .events__row-date {
        width: 40%;
    }
}
@media (max-width: 980px) {
    .events__headline-title, 
    .events__row-title {
        width: 200px;
    }

    .events__headline-recurring, 
    .events__row-recurring {
        width: 80px;
    }

    .events__headline-date {
        width: 100px;
    } 

    .events__row-date {
        line-height: 30px;
        width: 100px;
        word-wrap: break-word;
    }
}

