.first-block,
.second-block {
    display: inline-block;

    .filter-bar-button {
        $button-text-color: $rolling-stone-light;
        $button-box-shadow: $mystic;
        $button-border-color: $mischka;
        $active-button-background-color: $alice-blue;
        $active-button-border-color: $curious-blue;
        $active-button-text-color: $curious-blue;

        background-color: $white;
        border: 1px solid $button-border-color;
        border-radius: 2px;
        box-shadow: 0 2px 2px $button-box-shadow;
        cursor: pointer;
        height: 30px;
        margin-right: 5px;

        &__main {
            border: 0;
            color: $button-text-color;
            font-size: 13px;
            margin: 0;
            padding: 0 6px;

            .fa-times {
                padding-left: 7px;
            }

            .fa-angle-down {
                padding-left: 13px;
            }

            img {
                padding-right: 8px;
            }
        }

        &--active {
            background-color: $active-button-background-color;
            border: 1px solid $active-button-border-color;

            p {
                color: $curious-blue;
            }
        }

        &--select {
            color: $button-text-color;
            font-size: 13px;
            margin: 0;
            padding: 0 6px;
            width: 95px;
        }

        &--small {
            float: none;
            margin-right: 0;
            padding: 0;

            p {
                padding: 0 3px 0 10px;
            }
        }

        &:focus {
            outline: none;
        }

        .calendar {
            margin-top: 6px;
            opacity: 0;
            padding: 10px;
            position: absolute;
            transform: translatey(-100%);
            transition: .6s;
            visibility: hidden;
            z-index: $z-calendar-input;

            input {
                border: 1px solid $button-border-color;
                padding: 5px;
            }

            &.appear {
                opacity: 1;
                transform: translatey(0);
                visibility: visible;
            }
        }
    }
}

.first-block {
    padding-bottom: 10px;
}

.second-block {
    .no-space {
        display: inline-block;
    }
}

// Responsive layout
@media (max-width: 1030px) {
    .filter-bar__left {
        padding-bottom: 10px;
        text-align: center;

        .first-block {
            display: inherit;
            text-align: center;
        }
    }
}

@media (max-width: 850px) {
    .filter-bar__left {
        float: none;
    }

    .filter-bar__right {
        width: 100%;

        .search {
            width: 100%;
        }
    }
}

@media (max-width: 775px) {
    .filter-bar__left {
        padding-top: 20px;
    }
}
