.filter-bar-button {
    $button-text-color: $rolling-stone-light;
    $button-box-shadow: $mystic;
    $button-border-color: $mischka;
    $active-button-background-color: $alice-blue;
    $active-button-border-color: $curious-blue;
    $active-button-text-color: $curious-blue;

    background-color: $white;
    border: 1px solid $button-border-color;
    border-radius: 2px;
    box-shadow: 0 2px 2px $button-box-shadow;
    height: 30px;
    margin-right: 5px;

    &__main {
        color: $button-text-color;
        font-size: 13px;
        margin: 0;
        padding: 0 6px;

        .fa-times {
            padding-left: 7px;
        }

    }

    &--active {
        background-color:  $active-button-background-color;
        border: 1px solid $active-button-border-color;

        p {
            color: $curious-blue;
        }
    }
}
