.to-top-button {
    $button-icon-color: $white;

    background-color: black(.5);
    border: 0;
    border-radius: 4px;
    bottom: 50px;
    color: $button-icon-color;
    cursor: pointer;
    display: none;
    // outline: none;
    padding: 5px 13px;
    position: fixed;
    right: 30px;
    transition: .5s ease-out;

    &:hover {

        $button-hover-background-color: $curious-blue;

        background-color: $button-hover-background-color;
    }
}
