.button {
    &--primary {}

    &--secondary {}
}

// Activity-card-post buttons
.social-button {
    background-color: $white;
    border: 0;
    box-shadow: inset 1px 0 0 $iron-light;
    cursor: pointer;
    width: 50%;

    &__icon {
        color: $scooter;
        font-size: 1.125rem;
        position: relative;
        top: 2px;
        pointer-events: none;
    }

    &__number {
        color: $thunder-black;
        font-size: .8125rem;
        font-weight: 700;
        margin: 0 3px 0 8px;
        pointer-events: none;

    }

    &__text {
        color: $rolling-stone;
        display: inline-block;
        font-size: .8125rem;
        font-weight: 400;
        text-transform: uppercase;
        pointer-events: none;
    }

    &--blue-font {
        span {
            color: $scooter;
        }
    }

    &--comment-field {
        background-color: $athens-gray;
        box-shadow: none;
        height: 39px;
        padding: 0;
        width: auto;

        &__tex {
            margin-bottom: 7px;
            margin-top: 8px;
        }
    }
}

.button-input {
    background: $white;
    border: 0;
    height: 32px;
    position: absolute;
    right: 1px;
    top: 6px;
    transition: width 2s, height 2s;
    width: 37px;

    &:focus {
        outline: none;
    }

    &:hover {
        img {
            height: 90%; 
            width: 90%; 
        }
    }
}