.button {
    &--primary {}

    &--secondary {}
}

// Activity-card-post buttons
.social-button {
    width: 50%;
    height: 50px;
    box-shadow: inset 0 0 0 #e6e7e8;
    background-color: $white;
    border: none;
    box-shadow: inset 1px 0 0 #e6e7e8;

    &__icon {
        color: $scooter;
        font-size: 18px;
    }

    &__number {
        color: $thunder-black;
        margin: 0 3px 0 8px;
        font-size: 13px;
        font-weight: 700;

    }

    &__text {
        display: inline-block;
        color: $rolling-stone;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
    }

    &--blue-font {
        span {
            color: $scooter;
        }
    }

    &--comment-field {
        height: 39px;
        width: auto;
        background-color: $athens-gray;
        box-shadow: none;
        padding: 0;

        &__text{
            margin-top: 8px;
            margin-bottom: 7px;
        }
    }
}
