@charset 'utf-8';

@import 'base/config';
// Framework configuration or other settings
// Frameworks

// Dependencies
@import 'base/functions',
'base/colors', // Only color variables.
'base/variables', // All other variables, including typography, measurements and etc.
'mixins/mixins', // Mixins, functions, extenders.
'vendor/normalize', // Contains CSS output to fix cross-browser inconsistencies.
'base/svg-sprite';

// Global HTML elements
@import 'components/global';

// Plugins - Styles of third party plugins
// Global modules - modules shared between multiple projects (e.g. admin and public sites)
@import '../components/notifications/notifications',
'../components/form-elements/index';

// Local modules
@import 'components/headings';

// Components
@import 'components/helpers',
'../components/header/header',
'../components/footer/footer';

// Print stylesheet
@import 'print';


$mainBackgroundLightGrey: #f3f4f5;
$mainTextBalck: #13191b;
$linkBlue: #30aed6;
$mainBlue: #30a1d6;

body {
    margin: 0;
    padding: 0;
    background-color: $mainBackgroundLightGrey;
    font-family: 'Montserrat', sans-serif !important;
    // font-family: "Proxima Nova";
}

.post-wrapper {
    background-color: #ffffff;
    width: 380px;
    height: 918px;
    display: block;
    border: 1px solid #e6e7e8;

    .post-header {
        display: inline-block;
        width: 100%;
        height: 90px;
        border-radius: 2px;

        .post-person {
            display: inline-block;

            .post-person-img {
                display: inline-block;
                padding: 20px;
            }

            .post-person-name {
                display: inline-block;

                h1 {
                    color: $mainTextBalck;
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 20.7px;
                }

                p {
                    color: #a9aeb0;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 20.7px;
                    text-transform: uppercase;
                }
            }

        }

        .post-logo {
            display: flex;
            float: right;
            width: 61px;
            height: 30px;
            border-radius: 2px 0 0 2px;
            background-color: #30a1d6;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 30px;
        }

        span {
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;
            line-height: 16.1px;
            text-transform: uppercase;
        }
    }

    .post-content {
        display: block;
        height: 340px;
        width: 100%;

        .post-article {
            padding: 0 55px 0 20px;

            h1 {
                color: $mainTextBalck;
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                margin-top: 0;
            }

            p {
                color: #7b8487;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
            }
        }

        .post-img {
            height: 180px;
        }

        .post-likes {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            button {
                width: 50%;
                height: 50px;
                box-shadow: inset 0 0 0 #e6e7e8;
                background-color: #ffffff;
                border: none;
                box-shadow: inset 1px 0 0 #e6e7e8;

                i {
                    color: $linkBlue;
                    font-size: 18px;
                }

                span {
                    color: $linkBlue;
                    margin: 0 3px 0 8px;
                    font-weight: 600;
                }

                p {
                    display: inline-block;
                    color: #7b8487;
                    font-size: 12px;
                    text-transform: uppercase;
                    font-weight: 400;
                }
            }
        }
    }

    .post-comments {
        .post-comments-input {
            width: 100%;
            height: 68px;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
            border: 1px solid #e6e7e8;
            background-color: #ffffff;
            display: flex;

            img {
                padding: 16px 3px 16px 16px;
            }

            input {
                width: 285px;
                height: 30px;
                box-shadow: inset 0 2px 0 #f4f4f5;
                border-radius: 2px;
                border: 1px solid #d9dce2;
                background-color: #ffffff;
                margin: auto;
                padding-left: 10px;
            }
        }

        .post-first-comment {
            display: flex;
            width: 100%;
            height: 161px;
            box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.05);
            border: 1px solid #e6e7e8;
            background-color: #f9f9fa;

            img {
                padding: 16px;
            }

            .comment-article {
                padding-top: 5px;
                padding-right: 16px;
                h2 {
                    color: $mainTextBalck;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 20.7px;
                    margin-bottom: 0;
                }

                p {
                    color: #7b8487;
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 18px;
                    margin-top: 0;
                    border-bottom: 1px solid #e6e7e8;
                    padding-bottom: 12px;
                    padding-right: 20px;
                }
                .post-comments-likes{
                    display: inline-block;
                    width: 100%;
                    i{
                        color: $mainBlue;
                    }
                    span{
                        color: $mainTextBalck;
                        margin: 0 3px 0 8px;
                        font-weight: 600;
                        font-size: 13px;
                    }
                    p{
                        display: inline-block;
                        color: #7b8487;
                        font-size: 12px;
                        text-transform: uppercase;
                        font-weight: 400;
                        
                    }
                    .comments-time{
                        display: block;
                        float: right;
                        color: #a9aeb0;
                        font-size: 10px;
                        text-transform: uppercase;
                        font-weight: 400;
                        line-height: 20.7px;
                    }
                }
                
            }

        }

    }


}