@charset 'utf-8';

@import 'base/config';
// Framework configuration or other settings
// Frameworks

// Dependencies
@import 'base/functions',
'base/colors', // Only color variables.
'base/variables', // All other variables, including typography, measurements and etc.
'mixins/mixins', // Mixins, functions, extenders.
'vendor/normalize', // Contains CSS output to fix cross-browser inconsistencies.
'base/svg-sprite';

// Global HTML elements
@import 'components/global';

// Plugins - Styles of third party plugins
// Global modules - modules shared between multiple projects (e.g. admin and public sites)
@import '../components/notifications/notifications',
'../components/form-elements/index';

// Local modules
@import 'components/headings';

// Components
@import 'components/helpers',
'../components/header/header',
'../components/footer/footer';

// Print stylesheet
@import 'print';

// grid declaration
.grid {
    display: $grid;
    grid-column: $grid-column;
    grid-template-columns: $grid-template-columns;
    grid-auto-rows: $grid-auto-rows; 
    max-width: $max-width;
    margin: $margin-0-auto;
    position: $position-relative;
}

.side-bar {
    grid-column: 1/4; // dont' understand why $grid-side from variables.scss doesn't work
    
}

.side-bar-content {
    grid-column: 4/16; // dont' understand why $grid-side-content from variables.scss doesn't work
}