@charset 'utf-8';

// Fonts
@import url('https://use.typekit.net/chf3btc.css');

@import 'base/config';
// Framework configuration or other settings
// Frameworks

// Dependencies
@import 'base/functions',
'base/colors', // Only color variables.
'base/layout', // Only main layout classes
'base/variables', // All other variables, including typography, measurements and etc.
'base/z-indexes', // Z-indexes
'mixins/mixins', // Mixins, functions, extenders.
'vendor/normalize', // Contains CSS output to fix cross-browser inconsistencies.
'base/svg-sprite';

// Global HTML elements
@import 'components/global';

// Plugins - Styles of third party plugins
// Global modules - modules shared between multiple projects (e.g. admin and public sites)
@import '../components/notifications/notifications',
'../components/notifications/datelist',
'../components/notifications/notification',
'../components/notifications/action-bar',
'../components/form-elements/index';

// Local modules
@import 'components/headings';

// Components
@import 'components/helpers',
'../components/header/header',
'../components/bridge/bridge',
'../components/bridge/bridge-action-bar/bridge-action-bar.scss',
'../components/company/to-top-button/to-top-button',
'../components/company/scss/company',
'../components/company/scss/company-events/filter-bar-buttons',
'../components/company/scss/company-events/filter-bar-input',
'../components/company/scss/company-events/company-events',
'../components/company/scss/company-events/company-events-bar',
'../components/company/back-button/back-button',
'../components/company/scss/company',
'../components/company/scss/company-ads/company-ads',
'../components/company/scss/company-projects/company-projects',
'../components/company/scss/company-ads/modal',
'../components/activity/activity-layout',
'../components/activity/activity-card-post/activity-card-post',
'../components/activity/activity-card-post/activity-card-header/activity-card-header',
'../components/activity/activity-card-post/activity-card-content/activity-card-content',
'../components/activity/activity-card-post/activity-card-comments/activity-card-comments',
'../components/activity/activity-card-upload/activity_card_upload',
'../components/activity/filter-bar/filter',
'../components/footer/footer';

// Print stylesheet
@import 'print';

// Fonts
@import url('https://use.typekit.net/chf3btc.css');


// flex-box declaration
.flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1180px;
    width: 100%;

    &__side-bar--fixed {

        $side-bar-border-color: $iron-light;

        box-shadow: 1px 0 0 $side-bar-border-color;
        height: 100%;
        position: fixed;
        z-index: $z-side-bar;
    }

    &__side-bar-content {
        background-color: $white;
        margin-left: 240px;
        width: 100%;

        &--company {
            padding: 20px;
        }
    }
}

// responsive layout
@media (max-width: 775px) {
    .flex {

        &__side-bar-content {
            margin-left: 0;

            &--company {
                padding-top: 50px;
            }
        }
    }
}

.page-container {
    background-color: $porcelain; 
    margin-top: 56px; // that content would be seen below header, not on it
    padding: 0 20px;
}
