<!-- container for full width color -->
<div class="profile-color-wrapper">
    <!-- hidden heading for screen readers -->
    <h2 class="visually-hidden">Profile Info</h2>
    <section class="profile">
        <div class="padding-container profile-content">
            <!-- profile info left section -->
            <div class="profile__item profile__item-left">
                <%include src="profile-about/profile-about.html"%>
            </div>
            <!-- profile info right section -->
            <div class="profile__item profile__item-right">
                <%include src="profile-details/profile-details.html"%>
            </div>
        </div>
    </section>
</div>
