.activity-filter {
    $_color-text: $rolling-stone;
    $_color-text-active: $wood-smoke;
    $_color-accent: $curious-blue;
    $_color-box-shadow: $iron-light;
    background-color: $white;
    height: 50px;
    box-shadow: 0 1px 0 $_color-box-shadow;
    font-size: .875rem;

    .filter-center {
        display: flex;
        align-items: center;
    }

    &__list {
        @include reset-list-style;
        display: flex;

        &-item {
            cursor: pointer;
            margin-right: 23px;
            padding: 16px 10px 12px;

            &--active,
            &:hover {
                border-bottom: 2px solid $_color-border-active;
                border-radius: 1px;
                a {
                    color: $_color-text-active;
                }

            }
        }

        &-text {
            color: $_color-text;
            text-decoration: none;
        }
    }
}

