<header class="activity-filter">
    <div class="padding-container flex filter-center">
        <ul class="activity-filter__list">
            <li class="activity-filter__list-item activity-filter__list-item--active js-cards-all">
                <a class="activity-filter__list-text activity-filter__list-text--active">All</a>
            </li>
            <li class="activity-filter__list-item js-cards-events">
                <a class="activity-filter__list-text">Events</a>
            </li>
            <li class="activity-filter__list-item js-cards-blog">
                <a class="activity-filter__list-text">Blog</a>
            </li>
            <li class="activity-filter__list-item js-cards-social">
                <a class="activity-filter__list-text">Social</a>
            </li>
        </ul>
    </div>
</header>
